.menu-button-container{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 6%;
}

.menu-button{
	display: flex;
	flex-direction: column;
	height: $font-size-jumbo*4;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border: outset 2px $font-color-highlight;
	box-shadow: 5px 5px 1px $font-color-highlight;
}

.menu-button:hover {
    background-color: $background-color-highlight;
    border: outset 2px $background-color-main;
	 box-shadow: 5px 5px 1px rgb(255, 255, 255);
}

.menu-button__hat{
	height: $font-size-jumbo*3;
	flex: 1;	
}

.menu-button__arrow{
	height: $font-size-jumbo*4;
	width: 100%;
	display: none;
}

.nav-drawer {
  min-height: 100vh;
  display: none;
  flex: 2;
  flex-direction: column;
  background-color: $background-color-alternate;
  border-right: 1px solid $background-color-main;
  & header {
  	min-height: 100vh;
  	width: 12.5%;
  	position: fixed;
    display: flex;
    flex-direction: column;
  };
}


.body-container {
  display: flex;
  flex-direction: column;
  background-color: $background-color-main;
  flex: 14;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
