// Our color scheme here
$background-color-main: blue;
$background-color-highlight: blue;
$background-color-alert: blue;
$background-color-attention: blue;

$font-color-main: blue;
$font-color-highlight: blue;
$font-color-alert: blue;
$font-color-attention: blue;
