$background-color-main: #fbfbfb;
$background-color-highlight: #c3a4c3;
$background-color-alert: #744b74;
$background-color-attention: #c7c0c0;
$background-color-alternate: #7e7e7e;
$background-color-border: black;
$background-color-hover: purple;

$font-color-main: #fbfbfb;
$font-color-highlight: #c3a4c3;
$font-color-alert: #744b74;
$font-color-attention: #c7c0c0;
$font-color-alternate: #7e7e7e;
$font-color-border: black;
$font-color-hover: purple;
