$background-color-main: blue;
$background-color-highlight: green;
$background-color-alert: red;
$background-color-attention: yellow;
$background-color-alternate: orange;
$background-color-border: pink;
$background-color-hover: purple;

$font-color-main: blue;
$font-color-highlight: green;
$font-color-alert: red;
$font-color-attention: yellow;
$font-color-alternate: orange;
$font-color-border: pink;
$font-color-hover: purple;
