#contact-heading{
	display: flex;
	flex: 2;
	justify-content: space-around;
	align-items: center;
	font-size: $font-size-jumbo;
}
.contact-content{
	display: flex;
	flex: 7;
	flex-direction: row;
	justify-content: space-around;
	font-size: $font-size-jumbo*1.5;
}

.contact-content__form{
	display:flex;
	flex-direction: column;
	align-items: center;
}

#contact-content__form__empty-content{
	display:flex;
	flex: 2;
	flex-direction:column;
	align-items: center;

}

#contact-content__form__submitted-content{
	display:none;
	flex: 2;
	flex-direction: column;
	align-items:center;
}

.contact-content__form__input{
	font-size: $font-size-jumbo;
	text-align: center;
	width: $font-size-jumbo*16;
	height: $font-size-jumbo*2;
	margin-top: $font-size-jumbo;
}

.contact-content__form__input__message{
	font-size: $font-size-jumbo;
	text-align: center;
	width: $font-size-jumbo*16;
	height: $font-size-jumbo*8;
	margin-top: $font-size-jumbo;
	margin-bottom: $font-size-jumbo*1.75;
	padding: 0px;
}

#contact-content__button{
	display: flex;
	flex: 1;
	margin-bottom: $font-size-jumbo*2;
	background-color: white;
}

#contact-content__button__image{
	height: $font-size-jumbo*6;
}