// header styles here
.nav-drawer {
  display: flex;
  flex: 1;
  background-color: $background-color-alternate;
  position: relative;
  border-right: 1px solid $background-color-main; 
  & header {
    display: flex;
    flex: 1;
  };
}


.nav-drawer__links__nav{
  display: flex;
  flex: 1;
}

.nav-drawer__ul{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.nav-drawer__links {
  display: flex;
  flex: 1;
 
}

.nav-drawer__image {
  margin-top: 151px;
  position: fixed;
  height: 300px;
  width: 175px;
  background: url('../images/header_face_logo.png') no-repeat center / contain;
}
