// header styles here
.nav-drawer {
  flex: 1;
  background: url('../images/header_face_logo.png') no-repeat center / contain;
  background-color: $background-color-alternate;
}

// .header-group__face-logo {
//   height: 70px;
//   width: 170px;
//   background: url('../images/header_face_logo.png') no-repeat center / contain;
// }
