// header styles here
.nav-drawer {
  flex: 1;
  background-color: $background-color-alternate;
  position: relative;
}

.nav-drawer__links {
  position: fixed;
}

.nav-drawer__image {
  // position: absolute;
  margin-top: 150px;
  position: fixed;
  height: 300px;
  width: 100px;
  background: url('../images/header_face_logo.png') no-repeat center / contain;
}

// .header-group__face-logo {
//   height: 70px;
//   width: 170px;
//   background: url('../images/header_face_logo.png') no-repeat center / contain;
// }
