.parallax-img-large {
  height: 600px;
  background: url('../images/frank_leaning.jpeg') center /cover;
}

.parallax-img-medium {
  height: 500px;
  background: url('../images/frank_smiling.jpg') center /cover;
}

.parallax-img-small {
  height: 400px;
  background: url('../images/frank_young.jpg') center /cover;
}

.parallax-content-large {
  display: flex;
  padding: 5px;
  border: 5px solid $background-color-hover;
  height: 300px;
  background-color: $background-color-main;
}

.parallax-content-small {
  display: flex;
  padding: 5px;
  border: 5px solid $background-color-hover;
  height: 200px;
  background-color: $background-color-main;
}

.parallax-bar-container {
  border: 5px solid $background-color-highlight;
  display: flex;
  flex: 1;
  padding: 5px;
}

.parallax-bar-container__section {
  border: 5px solid $background-color-alert;
  display: flex;
  flex: 1;
}

.parallax-bar-container__logo {
  display: flex;
  flex: 1;
  background: url('../images/martini_icon.png') no-repeat center/contain;
}

.gap {
  padding-right: 5px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
