$font-size-jumbo: 22px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 10px;

$height-footer: 70px;
$card_width: 320px;
$card_height: 480px;
$card_photo_height: 375px;
$card_photo_width: 250px;
