@import 'resets';
@import 'color-variables';
@import 'size-variables';
@import 'site-defaults';
@import 'header';
@import 'footer';
@import 'body';
@import 'home';
@import 'contact';
@import 'gallery';
@import 'about';

.page-header {
  background-color: $background-color-highlight;
  font-weight: normal;
  text-align: center;
}
