<div class='about-container'>
	<div class="menu-button-container">
	    <div class="menu-button">
	      <img class="menu-button__hat" src="https://cdn3.iconfinder.com/data/icons/hats-1/100/07-512.png">
	    </div> 
	    <img class="menu-button__arrow" src="../images/right-arrow.png">
	</div>
	<div class="about-content">
		<div class="about-content__title">
			<h1>About Us</h1>
		</div>
		<div class="about-content__description">
			<h3>We strive to connect you with the best and most impressive Frank Sinatra impersonators.  With our many choices, you will always be able to find a performer for your soiree.  Please book today!</h3>
		</div>
		<div class="about-content__payment">
			<h4 class="about-content__payment__text"> Payments Accepted:</h4>
			<img class="about-content__payment__image" src="images/payment-options.png">
		</div>
		 <div class="about-content__contact">
		 </div>
	</div>
</div>