<div class="contact-heading">
	<h1> Feel free to contact us</h1>
</div>
<div class="contact-content">
	<form class="contact-content__form" method="POST" action="/contact">
		  <label class="contact-content__form__label" for="email">Email</label>
		  <input class="contact-content__form__input" type="text" name="email">
		  <label class="contact-content__form__label" for="name">Name</label>
		  <input class="contact-content__form__input" type="name" name="name">
		  <label class="contact-content__form__label" for="message">Message</label>
		  <input class="contact-content__form__input" type="text" name="message">
		  <input type="submit">
	</form>
</div>

