<div id="contact-heading">
	<h1> Feel free to contact us</h1>
</div>
<div class="contact-content">
	<form class="contact-content__form" method="POST" action="/contact">
		<div id="contact-content__form__empty-content">
			<input class="contact-content__form__input" type="name" name="name" value="Name">
<<<<<<< HEAD
			<input class="contact-content__form__input" type="text" name="email" value="Email">
=======
			
			<input class="contact-content__form__input" type="text" name="email" value="Email">

>>>>>>> brynne_base
			<input class="contact-content__form__input__message" type="text" name="message" value="Message">
		</div>
		<div id="contact-content__form__submitted-content">
			<h2> Thank you, we will be in touch soon.</h2>
		</div>
		<button id="contact-content__button" type="button"> <img id="contact-content__button__image" src="../images/jack_full.jpg"></button>
<<<<<<< HEAD
  	</form>
=======
	</form>
>>>>>>> brynne_base
</div>
  


