<!-- shows if user has @ in email and sends email -->
<div class="menu-button-container">
    <div class="menu-button">
      <img class="menu-button__hat" src="https://cdn3.iconfinder.com/data/icons/hats-1/100/07-512.png">
    </div> 
    <img class="menu-button__arrow" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-silver-icons-arrows/008113-glossy-silver-icon-arrows-arrow11-right.png">
</div>
<div id="contact-heading">
</div>
<div class="contact-content">
	<form class="contact-content__form">
		<div id="contact-content__form__submitted-content">
			<h2> Thank you, we will be in touch soon.</h2>
		</div>
		<button id="contact-content__button" type="submit"> <img class="button-image" id="contact-content__button__image" src="../images/jack_empty.jpg"></button>
	</form>
</div>
