<!-- shows if user tries to submit an email without having @ in email address -->
 <div class="menu-button-container">
    <div class="menu-button">
      <img class="menu-button__hat" src="https://cdn3.iconfinder.com/data/icons/hats-1/100/07-512.png">
    </div> 
    <img class="menu-button__arrow" src="../images/right-arrow.png">
</div>
<div id="contact-heading">
	<h1> Feel free to contact us</h1>
</div>
<div class="contact-content">
	<form class="contact-content__form" method="POST" action="/contact">
		<div id="contact-content__form__empty-content">
			<input class="contact-content__form__input" type="name" name="name" value="Name">
			<p class="conact-content__form__email__notice">Please enter a valid email address.</p>
			<input class="contact-content__form__input" type="text" name="email" value="">
			<input class="contact-content__form__input__message" type="text" name="message" value="Message">
		</div>
		<button id="contact-content__button" type="submit"> <img class="button-image" id="contact-content__button__image" src="../images/jack_full.jpg"></button>
	</form>
</div>
