<div class="gallery-body">
   <div class="menu-button-container">
    <div class="menu-button">
      <img class="menu-button__hat" src="https://cdn3.iconfinder.com/data/icons/hats-1/100/07-512.png">
    </div> 
    <img class="menu-button__arrow" src="../images/right-arrow.png">
</div>
  <% Impersonators.each do |name, image| %>
  <div class="card-base">
    <div class="card-base__title">
      <%= name %>
    </div>
    <div class="card-base__photo">
        <img class="photo" src="<%= image %>" alt="photo of impersonator <%= name %>" />
    </div>
    <div class="card-base__hire">
      Hire <%= name %>
    </div>
  </div>
  <% end %>
</div>
