<div class="parallax-img-large parallax">
  <div class="menu-button-container">
    <div class="menu-button">
      <img class="menu-button__hat" src="https://cdn3.iconfinder.com/data/icons/hats-1/100/07-512.png">
    </div> 
    <img class="menu-button__arrow" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-silver-icons-arrows/008113-glossy-silver-icon-arrows-arrow11-right.png">
  </div>

  <h1 class="parallax-img-large__h1"> Sinatra, Inc</h1>
</div>
<div class="parallax-content-large">
  <div class="parallax-bar-container">
    <div class="parallax-bar-container__section">
    <div class="parallax-bar-container__section--content">
      <p>Do you want your party to have the class of the past?  Are you more likely to serve fine liqour and require elegant dress at your event?  Then book with us: <span id="parallax-bar-container__section--content__span">Sinatra, Inc.</span>   No matter the occasion, our performers will add glamour to your party and will make it a memorable event.</p>
    </div>
    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__logo">

      </div>
    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__section--content">
        <div class="parallax-bar-container__section--button button__gallery">
          <a href="gallery">
            GET A FRANK
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-img-medium parallax">
</div>
<div class="parallax-content-small">
  <div class="parallax-bar-container">
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__logo">

      </div>
    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__section--content">
        Sinatra, Inc. is a service providing an array of the best Frank Sinatra impersonators.  Through our site you can see our list of performers, book a performer and contact our company with any questions or concerns.  We believe that Sinatra's legacy should live on and we should all be able to experience the magic that Frank brought to the world.
      </div>
    </div>
  </div>
</div>
<div class="parallax-img-small parallax">
</div>
<div class="parallax-content-large">
  <div class="parallax-bar-container">
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__logo">

      </div>
    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__section--content">
        <div class="parallax-bar-container__section--button button__contact">
          <a href="contact">
            ASK A FRANK
          </a>
        </div>
      </div>
    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__logo">

      </div>
    </div>
  </div>
</div>
<div class="parallax-img-large parallax">

</div>
