<div class="parallax-img-large parallax">

</div>
<div class="parallax-content-large">
  <div class="parallax-bar-container">
    <div class="parallax-bar-container__section">

    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__logo">

      </div>
    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">
      
    </div>
  </div>
</div>
<div class="parallax-img-medium parallax">

</div>
<div class="parallax-content-small">
  <div class="parallax-bar-container">
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__logo">

      </div>
    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">

    </div>
  </div>
</div>
<div class="parallax-img-small parallax">

</div>
<div class="parallax-content-large">
  <div class="parallax-bar-container">
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__logo">

      </div>
    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">

    </div>
    <div class="gap"></div>
    <div class="parallax-bar-container__section">
      <div class="parallax-bar-container__logo">

      </div>
    </div>
  </div>
</div>
<div class="parallax-img-large parallax">

</div>
