<!DOCTYPE html>
<html>
<head>
	<title>Impersonators</title>
	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
</head>
<body>

	<div class="body-container">

		<%= yield %>

	</div>

</body>
</html>
