<!DOCTYPE html>
<html>
<head>
	<title>Impersonators</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
</head>
<body>

	<div class="body-container">

		<%= yield %>

	</div>

	<div class="footer">
		<footer>
			<div class="footer-content-section">
				<div class="footer-content-section__signature">
				</div>
			</div>
			<div class="footer-content-section">
				<% Links.each do |url, name| %>
					<a href="<%= url %>" class="footer-content-section__link"><%= name %></a>
				<% end %>
			</div>
		</footer>
	</div>

</body>
</html>
