html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, h1, h2, h3, ul, li {
  padding: 0px;
  margin: 0px; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  font-family: 'Roboto', sans-serif; }

footer {
  display: flex;
  flex: 1; }

.nav-drawer {
  display: flex;
  flex: 1;
  background-color: #7e7e7e;
  position: relative;
  border-right: 1px solid #fbfbfb; }
  .nav-drawer header, .nav-drawer ul, .nav-drawer li, .nav-drawer nav, .nav-drawer a {
    display: flex;
    flex: 1; }

.nav-drawer__links {
  display: flex;
  flex: 1;
  justify-content: center; }

.nav-drawer__image {
  margin-top: 151px;
  position: fixed;
  height: 300px;
  width: 175px;
  background: url("../images/header_face_logo.png") no-repeat center/contain; }

.footer {
  background-color: #c3a4c3;
  height: 70px;
  display: flex; }

.footer-content-section {
  display: flex;
  flex: 1; }

.footer-content-section__signature {
  padding: 5px;
  display: flex;
  flex: 1;
  background: url("../images/footer_signature.png") no-repeat center/contain; }

.footer-content-section__link {
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
  flex: 1; }
  .footer-content-section__link:hover {
    color: purple;
    text-decoration: underline; }

.body-container {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  flex: 7; }

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column; }

.parallax-img-large {
  height: 600px;
  background: url("../images/frank_leaning.jpeg") center/cover; }

.parallax-img-medium {
  height: 500px;
  background: url("../images/frank_smiling.jpg") center/cover; }

.parallax-img-small {
  height: 400px;
  background: url("../images/frank_young.jpg") center/cover; }

.parallax-content-large {
  display: flex;
  padding: 5px;
  border: 5px solid purple;
  height: 300px;
  background-color: #fbfbfb; }

.parallax-content-small {
  display: flex;
  padding: 5px;
  border: 5px solid purple;
  height: 200px;
  background-color: #fbfbfb; }

.parallax-bar-container {
  border: 5px solid #c3a4c3;
  display: flex;
  flex: 1;
  padding: 5px; }

.parallax-bar-container__section {
  border: 5px solid #744b74;
  display: flex;
  flex: 1;
  flex-direction: column; }

.parallax-bar-container__logo {
  display: flex;
  flex: 1;
  background: url("../images/martini_icon.png") no-repeat center/contain; }

.gap {
  padding-right: 5px; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax-bar-container__section--heading {
  display: flex;
  flex: 1;
  font-size: 22px;
  justify-content: center;
  align-items: center; }

.parallax-bar-container__section--content {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex: 3; }

.parallax-bar-container__section--button {
  margin: 25% 20%;
  display: flex;
  flex: 1;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  border: 2px solid black; }
  .parallax-bar-container__section--button :hover {
    background-color: #7e7e7e; }

#contact-heading {
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
  font-size: 22px; }

.contact-content {
  display: flex;
  flex: 7;
  flex-direction: row;
  justify-content: space-around;
  font-size: 33px; }

#contact-content__form__empty-content {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center; }

#contact-content__form__submitted-content {
  display: none;
  flex: 2;
  flex-direction: column;
  align-items: center; }

.contact-content__form {
  display: flex;
  flex-direction: column;
  align-items: center; }

#contact-content__form__empty-content {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center; }

#contact-content__form__submitted-content {
  display: none;
  flex: 2;
  flex-direction: column;
  align-items: center; }

.contact-content__form__input {
  font-size: 22px;
  text-align: center;
  width: 352px;
  height: 44px;
  margin-top: 22px; }

.contact-content__form__input__message {
  font-size: 22px;
  text-align: center;
  width: 352px;
  height: 176px;
  margin-top: 22px;
  margin-bottom: 38.5px;
  padding: 0px; }

#contact-content__button {
  display: flex;
  flex: 1;
  margin-bottom: 44px;
  background-color: white; }

#contact-content__button__image {
  height: 132px; }

.gallery-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.card-base {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  height: 575px;
  width: 275px;
  background: #c7c0c0;
  border-width: 6px;
  border-style: double;
  border-color: #744b74; }

.card-base__photo {
  width: 235px;
  height: 375px;
  border-radius: 50%;
  overflow: hidden; }
  .card-base__photo .photo {
    height: 375px;
    max-width: 235px; }

.card-base__title {
  color: purple; }

.card-base__hire {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-width: 6px;
  border-top-style: double;
  border-top-color: black;
  border-bottom-width: 6px;
  border-bottom-style: double;
  border-bottom-color: black; }

.page-header {
  background-color: #c3a4c3;
  font-weight: normal;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
