html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, h1, h2, h3, ul, li {
  padding: 0px;
  margin: 0px; }

ul {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  font-family: 'Roboto', sans-serif; }

footer {
  display: flex;
  flex: 1; }

.nav-drawer {
  display: flex;
  flex: 1;
  background-color: #7e7e7e;
  position: relative;
  border-right: 1px solid #fbfbfb; }
  .nav-drawer header, .nav-drawer ul, .nav-drawer li, .nav-drawer nav, .nav-drawer a {
    display: flex;
    flex: 1; }

.nav-drawer__links {
  display: flex;
  flex: 1;
  justify-content: center; }

.nav-drawer__image {
  margin-top: 150px;
  position: fixed;
  height: 300px;
  width: 175px;
  background: url("../images/header_face_logo.png") no-repeat center/contain; }

.footer {
  background-color: #c3a4c3;
  height: 70px;
  display: flex; }

.footer-content-section {
  display: flex;
  flex: 1; }

.footer-content-section__signature {
  padding: 5px;
  display: flex;
  flex: 1;
  background: url("../images/footer_signature.png") no-repeat center/contain; }

.footer-content-section__link {
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
  flex: 1; }
  .footer-content-section__link:hover {
    color: purple;
    text-decoration: underline; }

.body-container {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  flex: 7; }

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column; }

.parallax-img-large {
  height: 600px;
  background: url("../images/frank_leaning.jpeg") center/cover; }

.parallax-img-medium {
  height: 500px;
  background: url("../images/frank_smiling.jpg") center/cover; }

.parallax-img-small {
  height: 400px;
  background: url("../images/frank_young.jpg") center/cover; }

.parallax-content-large {
  display: flex;
  padding: 5px;
  border: 5px solid purple;
  height: 300px;
  background-color: #fbfbfb; }

.parallax-content-small {
  display: flex;
  padding: 5px;
  border: 5px solid purple;
  height: 200px;
  background-color: #fbfbfb; }

.parallax-bar-container {
  border: 5px solid #c3a4c3;
  display: flex;
  flex: 1;
  padding: 5px; }

.parallax-bar-container__section {
  border: 5px solid #744b74;
  display: flex;
  flex: 1;
  flex-direction: column; }

.parallax-bar-container__logo {
  display: flex;
  flex: 1;
  background: url("../images/martini_icon.png") no-repeat center/contain; }

.gap {
  padding-right: 5px; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

